.nav-link{

float: right;

}

.navbar-expand-lg{

background-color: black;


}

.nav-link{

     color: white;
}

.homes{
    background: rgb(12,22,88);
    background: radial-gradient(circle, rgba(12,22,88,1) 0%, rgba(0,0,0,1) 100%);
    height: 500px;
}

.inicio{

    animation: go-back 3s infinite alternate;
}

@keyframes go-back {
    from {
      transform: translateY(50px);
    }
    to {
      transform: translateY(0);
    }
  }

  h1 {
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(13) infinite alternate,
      blink 800ms steps(13) infinite normal;
    border-right: 5px solid rgb(255, 255, 255);
    color: white;
    font-family: cursive;
  }
  @keyframes typewriter {
    from {
      width: 0%;
    }
    to {
      width: 105%;
    }
  }
  @keyframes blink {
    from {
      border-color: rgb(255, 255, 255);
    }
    to {
      border-color: transparent;
    }
}

#contato:hover 

{ background-color: #01004e; 

transition: 0.5s;



}

#sobre:hover 

{ background-color:#01004e; 

transition: 0.5s;



}

#projeto:hover 

{ background-color: #01004e; 

transition: 0.5s;


}


.sobre{

    background: rgb(4, 229, 94);
    background: radial-gradient(circle, rgb(0, 97, 55) 0%, rgba(0,0,0,1) 100%);
    height: 700px;

}

.timeline-steps{display:flex;justify-content:center;flex-wrap:wrap}.timeline-steps .timeline-step{align-items:center;display:flex;flex-direction:column;position:relative;margin:1rem}@media (min-width:768px){.timeline-steps .timeline-step:not(:last-child):after{content:"";display:block;border-top:.25rem dotted #3b82f6;width:3.46rem;position:absolute;left:7.5rem;top:.3125rem}.timeline-steps .timeline-step:not(:first-child):before{content:"";display:block;border-top:.25rem dotted #25cf03c6;width:3.8125rem;position:absolute;right:7.5rem;top:.3125rem}}.timeline-steps .timeline-content{width:10rem;text-align:center}.timeline-steps .timeline-content .inner-circle{border-radius:1.5rem;height:1rem;width:1rem;display:inline-flex;align-items:center;justify-content:center;background-color:#04ff00}.timeline-steps .timeline-content .inner-circle:before{content:"";background-color:#10007b;display:inline-block;height:3rem;width:3rem;min-width:3rem;border-radius:6.25rem;opacity:.5} 

.projetos{

    background: rgb(84, 1, 122);
    background: radial-gradient(circle,  rgba(12,22,88,1), rgba(0,0,0,1) 100%);
    height: 750px;

}

.contato{

    background: rgb(4, 229, 94);
    background: radial-gradient(circle, rgb(0, 97, 55) 0%, rgba(0,0,0,1) 100%);
    height: 700px;

}

#circ1:hover{

background-color: rgb(255, 255, 255);

}

.contact-clean{background:#f1f7fc;padding:80px 0}.contact-clean form{max-width:480px;width:90%;margin:0 auto;background-color:#fff;padding:40px;border-radius:4px;color:#505e6c;box-shadow:1px 1px 5px rgba(0,0,0,.1)}@media (max-width:767px){.contact-clean{padding:20px 0}.contact-clean form{padding:30px}}.contact-clean h2{margin-top:5px;font-weight:700;font-size:28px;margin-bottom:36px;color:inherit}.contact-clean .form-group:last-child{margin-bottom:5px}.contact-clean form .form-control{background:#fff;border-radius:2px;box-shadow:1px 1px 1px rgba(0,0,0,.05);outline:0;color:inherit;padding-left:12px;height:42px}.contact-clean form .form-control:focus{border:1px solid #b2b2b2}.contact-clean form textarea.form-control{min-height:100px;max-height:260px;padding-top:10px;resize:vertical}.contact-clean form .btn{padding:16px 32px;border:none;background:0 0;box-shadow:none;text-shadow:none;opacity:.9;text-transform:uppercase;font-weight:700;font-size:13px;letter-spacing:.4px;line-height:1;outline:0!important}.contact-clean form .btn:hover{opacity:1}.contact-clean form .btn:active{transform:translateY(1px)}.contact-clean form .btn-primary{background-color:#055ada!important;margin-top:15px;color:#fff}

.title:hover{
color: red;

}


#bot-whats:hover {
  background: red;
  transform: translateY(-7px);

}

#bot-velha:hover {
  background: red;
  transform: translateY(-7px);

}


#bot-netflix:hover {
  background: red;
  transform: translateY(-7px);

}

form{

  align-items: center;
  display: flex;
  flex-direction: column;
  
  
}